Semantic Benchmark/
gptclonedata/C/
gptclonedata/CS/
gptclonedata/java/
gptclonedata/python/
gptclonedata/python/Gpt3D_Clone213.py
venv/
c_51_to_75_similar/
c_leq_50_similar/
c_output/
cross_language/
cs_51_to_75_similar/
cs_leq_50_similar/
java_leq_50_similar/
java_51_to_75_similar/
java_output/
py_51_to_75_similar/
py_leq_50_similar/
py_output/
cs_output/
distinctiveGpt3/c/
distinctiveGpt3/java/